<!-- <ul>
    <li><a routerLink="/adcomplaints">Home</a></li>
    <li style="float:right" class="active"><a (click)="logout()">Logout</a></li>
</ul> -->
<app-navbar></app-navbar>
<div style="text-align: center;">
    <h1>Hello {{admin_username}} </h1>
    <h2>All Complaints Are Below</h2>
</div>
<div style="padding-left: 1%;padding-top: 1%;">
    <button (click)="changeType()" class="button">Unresolved</button>
    <button (click)="changeType()" class="button">All</button>
</div>
<div *ngIf="complaints" style="padding:1% 1% 0 1%">
    <table class="center" id="complaints">
        <thead>
            <tr>
                <th>ID</th>
                <th>Time Stamp</th>
                <th>Complainant</th>
                <th>Room</th>
                <th>Mobile Number</th>
                <th>Issue</th>
                <th>Status</th>
                <th>Update Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of complaints">
                <td>{{item.id}}</td>
                <td>{{item.timestamp}}</td>
                <td>{{item.username}}</td>
                <td>{{item.roomnumber}}</td>
                <td>{{item.mobilenumber}}</td>
                <td>{{item.issue}}</td>
                <td>{{item.status}}</td>
                <td><Button class="button" (click)="updateComplaint(item.id)">Update</Button></td>
            </tr>
        </tbody>
    </table>
</div>