<div class="container-fluid">
    <div class="row topSpace" *ngFor="let oneRow of items">
            <div class="col-auto" *ngFor="let item of oneRow">
                    <div class="card" style="width: 13rem;">
                            <a (click)="open(content,item.id)" class="custom-card">
                                    <img src="{{ item.imgUrl }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                            <h5 class="card-title">{{ item.title }}</h5>
                                            <p class="card-text">{{ item.shortDesc }}</p>
                                    </div>
                                    <div class="card-footer">
                                            <strong class="text-muted">Price: {{ item.price }}</strong>
                                    </div>
                            </a>
                    </div>
            </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Product</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <div class="row">
                        <div class="col-md-6 col-sm-6">
                                <img style="width:100%;height:350px" src="{{ itemView.imgUrl }}">
                        </div>
                        <div class="col-md-6 col-sm-6">
                                <div class="product-description">
                                        <span>{{ itemView.title }}</span>
                                        <h1>{{ itemView.shortDesc }}</h1>
                                        <p>Description: {{ itemView.description }}</p>
                                </div>
                                
                                <!-- Product Configuration -->
                                <div class="owner-description">
                                        <p>Owner: {{ itemView.enrollNo }}</p>
                                        <p>Mobile No.: {{ itemView.mobilenumber }}</p>
                                </div>
                                
                                <!-- Product Pricing -->
                                <div class="product-price">
                                        <span>Rs. {{ itemView.price }}</span>
                                </div>
                        </div>
                </div>
        </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->