<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand mb-0 h1">ColUtil</a> -->
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" 
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
<!--       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
    
            <li class="nav-item">
              <a class="nav-link" href="#"> Complaints <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Trades</a>
            </li>
    
          </ul>
        </div>
</nav> -->

<nav class="navbar navbar-dark fixed-top bg-primary navbar-expand-lg flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">ColUtil</a>
    <ul class="navbar-nav px-3 ml-auto">
      <li class="nav-item" >
        <a class="nav-link signoutBtn" (click)="onSignOut()">Sign out</a>
      </li>
    </ul>
</nav>