<div class="container">
<h1>Hello Admin</h1>

<form (ngSubmit)="onAdd(f)" #f="ngForm">
  <div class="form-group">
    <label>Complaint:</label>
    <input type="text" id="complaint" class="form-control" ngModel name="complaint">
  </div>
  <button class="btn btn-primary" type="submit">Add</button>
</form>

<div *ngIf = "complaints">
    <table class="center" id = "complaints">
        <thead>
        <tr>
            <th>ID</th>
            <th>Time Stamp</th>
            <th>Complainant</th>
            <th>Room</th>
            <th>Mobile Number</th>
            <th>Issue</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let item of complaints">
                <td>{{item.id}}</td>
                <td>{{item.timestamp}}</td>
                <td>{{item.username}}</td>
                <td>{{item.roomnumber}}</td>
                <td>{{item.mobilenumber}}</td>
                <td>{{item.issue}}</td>
                <td>{{item.status}}</td>
                <td><button (click)="changeStatus(item.id)">Chnage Status</button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>