<div class="container-fluid">
        <div class="row topSpace" *ngFor="let oneRow of items">
                <div class="col-auto" *ngFor="let item of oneRow">
                        <div class="card" style="width: 13rem;">
                                <img src="{{ item.imgUrl }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                        <h5 class="card-title">{{ item.title }}</h5>
                                        <p class="card-text">{{ item.shortDesc }}</p>
                                </div>
                                <div class="card-footer text-center modClass">
                                        <div class="row">
                                                <div class="col-md-6  editClass">
                                                       <a (click)="open(content, item.id)">Edit</a> 
                                                </div>
                                                <div class="col-md-6 deleteClass">
                                                        <a (click)="onDelete( item.id )"> Delete</a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

<ng-template #content let-modal>
        <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Edit Item Details</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <form [formGroup]="editForm" (ngSubmit)="onUpdate()">
                <div class="modal-body">

                        <div class="form-group">
                                <label for="name_id">Name:</label>
                                <div class="input-group">
                                        <input id="name_id" ngbAutofocus class="form-control" placeholder="Name"
                                                formControlName="title">
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="sDesc_id">Short Description:</label>
                                <div class="input-group">
                                        <input id="sDesc_id" class="form-control" placeholder="Short Description:"
                                                formControlName="sDesc">
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="url_id">Image:</label>
                                <div class="input-group">
                                        <input id="url_id" class="form-control" placeholder="Image Url"
                                                formControlName="url">
                                </div>
                        </div>

                </div>
                <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-dark">Update</button>
                </div>
        </form>
</ng-template>
