<div class="container-fluid">
    <div class="row topSpace" *ngFor="let oneRow of items">
        <div class="col-auto" *ngFor="let item of oneRow">
            <div class="card" style="width: 13rem;">
                <img src="{{ item.imgUrl }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.shortDesc }}</p>
                </div>
                <a (click)="requestPull(item)" *ngIf="!disablePull(item.enrollNo)">
                    <div class="card-footer text-center">
                        <!-- <i class="feather-16"data-feather="git-pull-request"></i> -->
                        Accept
                    </div>
                </a>
                <div class="card-footer text-center" *ngIf="disablePull(item.enrollNo)">
                    <!-- <i class="feather-16"data-feather="git-pull-request"></i> -->
                    Accept
                </div>
            </div>
        </div>
    </div>
</div>