<div *ngIf="!myView">
        <div class="d-flex justify-content-end btnRightpadding">
                <button type="button" class="btn btn-outline-primary" (click)="changeView()">My Items</button>
        </div>
        <app-rent-all></app-rent-all>
</div>
<div *ngIf="myView">
        <div class="d-flex justify-content-end btnRightpadding">
                <button type="button" class="btn btn-lg btn-primary btnRightMargin" (click)="open(content)">Add</button>
                <button type="button" class="btn btn-outline-primary" (click)="changeView()">All Items</button>
        </div>
        <app-rent-my></app-rent-my>
</div>

<!-- <app-rent-my></app-rent-my> -->

<ng-template #content let-modal>
        <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Add Item Details</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <form #f="ngForm">
                        <div class="form-group">
                                <label for="name_id">Name:</label>
                                <div class="input-group">
                                        <input id="name_id" ngModel ngbAutofocus class="form-control" placeholder="Name"
                                                name="title">
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="sDesc_id">Short Description:</label>
                                <div class="input-group">
                                        <input id="sDesc_id" ngModel class="form-control"
                                                placeholder="Short Description:" name="sDesc">
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="desc_id">Description:</label>
                                <div class="input-group">
                                        <textarea id="desc_id" ngModel class="form-control" placeholder="Description"
                                                name="desc"></textarea>
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="rent_id">Rent:</label>
                                <div class="input-group">
                                        <input id="rent_id" ngModel class="form-control" placeholder="Rent per day"
                                                name="rent">
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="upload_id">Upload Image:</label>
                                <input type="file" id="hidden_upload_id" ngModel name="url" class="file" required (change)="updateFile($event.target.files,filePathView)" #fileUpload>
                                <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text"><i data-feather="paperclip"></i></span>
                                        </div>
                                        <input type="text" id="upload_id" class="form-control" disabled placeholder="Upload File" #filePathView>
                                        <div class="input-group-append">
                                                <button class="browse input-group-text fileUploadBtn" (click)="onBrowseClick(fileUpload)"> Browse</button>
                                        </div>
                                </div>
                        </div>
                </form>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close(f)" [disabled]="!f.valid">Save</button>
        </div>
</ng-template>